body {
	min-width: 40em;
}

.nameInput {
	width: 10em;
}

.addressInput {
	width: 25em;
}

#saveButton {
	float: right;
}

#address-list {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	margin-bottom: 1em;

}