/*
* expose
*/

/*
.expose-origin-block {
	display: flex;
}

.expose-destination-block {
	display: inline-block;
	margin-right: 0.5em;
}

.expose-destination {
	font-size: small;
}

.expose-distance-block {
	display: block;
	font-size: smaller;
}

.expose-destination, .expose-distance {
	margin-right: 0.5em;
	display: block;
}

*/
.expose-origin-block {
	display: block;
}

.expose-destination-block {
	display: block;
	margin-right: 0.5em;
}

.expose-destination {
	font-size: small;
	display: inline;
	margin-right: 1em;
}

.expose-distance-block {
	display: inline-block;
	font-size: smaller;
	float: right;
}

.expose-distance {
	display: inline;
	margin-right: 1em;
}

/*
* result list
*/
/*
.resultlist-origin-block {
	display: block;
}

.resultlist-destination-block {
	display: inline-block;
	margin-right: 0.5em;
}

.resultlist-destination {
	font-size: small;
}

.resultlist-distance-block {
	font-size: smaller;
}

.resultlist-distance {
	display: block;
}
*/
.resultlist-origin-block {
	display: block;
}

.resultlist-destination-block {
	display: block;
	margin-right: 0.5em;
}

.resultlist-destination {
	font-size: small;
	display: inline;
	margin-right: 1em;
}

.resultlist-distance-block {
	font-size: smaller;
	display: inline-block;
	float: right;
}

.resultlist-distance {
	display: inline;
	margin-right: 1em;
}